body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background{
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  background-image: url("/background.jpg");
  background-size: cover;
  z-index: -1;
  background-position: center;
  filter: blur(10px);
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  color: black;
}

.product-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.product-info p {
  margin: 0 0 10px;
  color: #555;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

button.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button.add-to-cart:hover {
  background-color: #218838;
}

button.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button.add-to-cart:hover {
  background-color: #218838;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#money{
  color: gray;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 10px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.loginForm{

  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);

  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);

  padding: 50px;
  text-align: center;

}

.loginLogo{

  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Modal */
#registerModal {
  color: black;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.registerSpan {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.registerSpan:hover,
.registerSpan:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#admin-panel-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  overflow-y: scroll;
}

#admin-panel-modal > div {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

#product-list {
  padding: 20px;
}

#product-list div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

#product-list button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#product-list button:hover {
  background-color: #0056b3;
}

.adminpanel-product-item-container {
  display: flex;
  align-items: flex-start; /* Wyśrodkowanie na górze */
}

.adminpanel-product-image-container {
  margin-right: 20px; /* Odstęp między obrazkiem a treścią */
}

.adminpanel-admin-product-image {
  max-width: 100px; /* Ustawienia obrazka */
  height: auto;
}

.adminpanel-product-details-container {
  flex: 1; /* Rozciągnij zawartość na całą dostępną szerokość */
}

.adminpanel-product-title {
  font-size: 18px;
  font-weight: bold;
}

.adminpanel-product-description {
  margin-top: 5px;
  font-size: 14px;
}

.adminpanel-product-buttons {
  margin-top: 10px;
}

.adminpanel-product-buttons button {
  margin-right: 10px;
}